* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding-top: 6vh;
  display: grid;
  grid-template-rows: 1fr auto;
  box-sizing: border-box;
}
header{
    background-color: darkgray;
    width: 100%;
    height: 25px;
    line-height: 25px;
    position: fixed;
    top:0;
    font-size: 5vh;
    display: flex;
    justify-content: space-between;
    line-height: 6vh;
    padding:0 10px 0 0;
    grid-template: "header";
}
header input{
    width:6vh;
    font-size: 3vh;
    background-color: transparent;
}
header, footer{
    background-color: palevioletred;
    height:6vh;
    width: 100%;
}
footer{
    line-height: 6vh;
    padding: 0 10px 0 10px;
}
main{
    display: grid;
    grid-template-columns: 1fr;
}
nav{
    display: none;
    background-color: darkgray;
    padding: 10px 0 0 10px;
}
ul{
    list-style-type: none;
    padding: 5px 0 5px 0;
}
li{
    font-size: 1.5em;
}
#keret{
    height: 50px;
    overflow:hidden;
    display: flex;
    width: 100%;
}
#keret img{
    width: 100%;
    object-fit: cover;
    top: -20px;
    align-self: center;
}
h1{
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 300%;
}
#ido{
    display: flex;
    align-items: center;
    justify-content: center;
}
#ido img{
    height: 200px;
}
#ido p{
    font-size: 100px;
    line-height: 200px;
}
#tartalom>p{
    margin: 20px 15px 20px 15px;
    font-size: 2em;
}