@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");
body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  color: #262626;
  font-size: 16px;
  background-image: url('../Images/bg1.jpg');
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1;
  padding-bottom: 4vh;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding: 2rem 5% 1rem 5%;
}

h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding: 0 5% 3rem 5%;
}

#bigContainer {
  padding: 20px 15px;
  width: 90%;
  min-width: 500px;
  max-width: 2000px;
  border-radius: 10px;
  margin: auto;
  background-image: linear-gradient(to top, #490a15, #b17e5fe3);
}

.container_bemutatkozas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 4%;
}

.container_bemutatkozas figure {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background: linear-gradient(#edcbcb, #7c3235);
  height: 520px;
  position: relative;
  overflow: hidden;
  max-width: 300px;
}

.container_bemutatkozas figure img {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 12px;
  width: 100%;
  max-width: 350px;
  height: 400px;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.5s;
}

figcaption {
  display: flex;
  text-align: center;
}

.container_bemutatkozas figure img:hover {
  opacity: 0.8;
}

span.nev {
  margin: auto;
}

.nev {
  font-weight: 700;
}

.bemutatkozas {
  font-weight: 300;
  font-size: 0.8rem;
  padding: 5px;
}

header {
  font-family: 'Rubik Iso';
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  border-radius: 0px 0px 20px 20px;
  position: fixed;
  top: 0;
  min-height: 6vh;
  width: 100%;
  padding: 5px 15px;
  background-image: linear-gradient(to bottom, #e27e88, #fcc8bde3);
}

hr {
 border: 1px solid rgb(252, 252, 252);
}

button, .btn {
  width: 100px;
  height: 30px;
  background-image: linear-gradient(to bottom, #eddfdf, #cb8c8c);
  border-radius: .5rem;
  color: #482307;
  cursor: pointer;
  font-size: 100%;
  font-family: 'Rubik Iso';
  transition: all .1s;
}

button:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
  transform: translateY(0.125rem);
}

button:focus {
  box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}

footer {
  font-family: 'Rubik Iso';
  display: flex;
  z-index: 998;
  border-radius: 20px 20px 0px 0px;
  position: fixed;
  bottom: 0;
  height: 6vh;
  width: 100%;
  padding: 0 10px 0 0;
  background-image: linear-gradient(to bottom,#fcc8bde3, #e27e88);
}

@media (max-width: 768px) {
  header,
  footer {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .szovegek {
    font-size: 1.2rem;
  }

  header .szovegek {
    display: none;
  }
}

.container_bemutatkozas figure.bemutatkozoKartya span:nth-of-type(2) {
  display: none;
}

.megjelenik {
  display: inline;
}
/* --- nyito szoveg --- */

#constainer_nyitoSzoveg {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1550px;
	margin: 0 auto;
	padding: 2rem 0;
}

#constainer_nyitoSzoveg img {
	max-width: 250px;
}

#nyitoSzoveg {
	text-align: center;
	font-size: 2rem;
}

/* --- */

hr {
	width: 60%;
  margin: auto;
}

.sotetbenLevoSzovegek {
  color: #fff;
}